.subtitle {
    border: 1px solid black;
    color: white;
    background-color: gray;
}
 .btn-bet {
    background-color: white;
    border: 1px solid black;
}
.btn-active {
    background-color: rgb(141, 86, 86);
    color: white;
    border: 1px solid black;
}