<br>
<div *ngIf="competitionName">
	<h2> {{ competitionName }} </h2>

	<div *ngIf="calendar.length; else emptyBlock">
		<select class="form-control" [(ngModel)]="daySelected" (change)="onChange($event)">
			<!--<option [value]="0">Sélectionnez votre journée de championnat</option>-->
			<option *ngFor="let day of calendar" [value]="day.id">{{day.label}}</option>    
		</select>
		<div class="container-fluid" *ngIf="matchs?.length != 0 && calendar.length">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center subtitle">{{ labelCalendar }} de {{ competitionName }}</h3>
					<!--<h6 class="text-center subtitle">Championnat de France</h6>-->
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-2 text-center">
							<span class="badge badge-default">1</span>
						</div>
						<div class="col-md-2 text-center">
							<span class="badge badge-default">N</span>
						</div> 
						<div class="col-md-2 text-center">
							<span class="badge badge-default">2</span>
						</div>
					</div>
					<div *ngFor="let row of matchs | async">
						<div *ngFor="let match of row">
							<div class="row" *ngIf="match.matchday[0].id == daySelected && match.status == 3">

									<div class="col-md-6">
										<h5><a [routerLink]="['/football/match', match.id]"> {{ match.matchbets[0].label }} - {{ match.matchbets[2].label }} </a></h5>
									</div>
									<div class="col-md-2 text-center">
										<button class="btn" [ngClass]="btn1Active==true ? 'btn-active' : 'btn-bet'">
											{{ match.matchbets[0].currentodds }}
										</button>
									</div>
									<div class="col-md-2 text-center">
										<button class="btn btn-bet" [ngClass]="btn2Active==true ? 'btn-active' : 'btn-bet'">
											{{ match.matchbets[1].currentodds }}
										</button>
									</div>
									<div class="col-md-2 text-center">
										<button class="btn btn-bet" [ngClass]="btn3Active==true ? 'btn-active' : 'btn-bet'">
											{{ match.matchbets[2].currentodds }}
										</button>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #emptyBlock>
	<p>Aucun match de programmé pour le moment.</p>
</ng-template>

<div *ngIf="competitionName == ''">
	<h3 class="text-center subtitle">Liste des matchs à venir</h3>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-2 text-center">
			<span class="badge badge-default">1</span>
		</div>
		<div class="col-md-2 text-center">
			<span class="badge badge-default">N</span>
		</div>
		<div class="col-md-2 text-center">
			<span class="badge badge-default">2</span>
		</div>
	</div>


	<div *ngFor="let match of matchs | async">
		<div *ngFor="let m of match">
			<div class="row" *ngIf="m.status == 3 || m.status == 4">
				<div class="col-md-6">
					<h5>
							<a [routerLink]="['/football/match', m.id]">{{ m.matchbets[0].label }} - {{ m.matchbets[2].label }}</a>
					</h5>
				</div>
				<div class="col-md-2 text-center">
					<button class="btn" [ngClass]="btn1Active==true ? 'btn-active' : 'btn-bet'">{{ m.matchbets[0].currentodds }}</button>
				</div>
				<div class="col-md-2 text-center">
					<button class="btn btn-bet" [ngClass]="btn2Active==true ? 'btn-active' : 'btn-bet'">{{ m.matchbets[1].currentodds }}</button>
				</div>
				<div class="col-md-2 text-center">
					<button class="btn btn-bet" [ngClass]="btn3Active==true ? 'btn-active' : 'btn-bet'">{{ m.matchbets[2].currentodds }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
