<h2 class="text-center"> {{ competitions[0]?.label }} </h2>

<h3 *ngIf="display == 1" class="text-center subtitle">{{ matchdayName }} de {{ competitions[0]?.label }}</h3>
<h3 *ngIf="display == 2" class="text-center subtitle">Liste des matchs à venir</h3>

<div class="border containerBets" *ngIf="matchdays.length; else emptyBlock">
	<div *ngIf="display == 1">
		<select class="form-control" [(ngModel)]="selectedDay" (change)="onSelectDay()">
			<option *ngFor="let day of matchdays" [value]="day.id">{{day.label}}</option>
		</select>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6">
					</div>
					<div class="col-md-2 text-center">
						<span class="badge badge-info">1</span>
					</div>
					<div class="col-md-2 text-center">
						<span class="badge badge-default">N</span>
					</div>
					<div class="col-md-2 text-center">
						<span class="badge badge-success">2</span>
					</div>
				</div>
				<div *ngFor="let obsmatch of matchs | async">
					<div *ngFor="let match of obsmatch">
						<div class="row row-bets border" *ngIf="display == 1 && match.matchday[0]?.id == selectedDay && match.status == 3 ||
						display == 1 && match.matchday[0]?.id == selectedDay && match.status == 4 || 
						display == 2 && match.status == 3 || display == 2 && match.status == 4">
							<div class="col-md-6">
								<h5><a [routerLink]="['/football/match', match.id]"> {{getFormattedTeams(match)}} </a></h5>
							</div>
							<div class="col-md-2 text-center">
								<button class="btn" [ngClass]="isSelectedBet(match.matchbets[0]) ? 'btn-active' : 'btn-bet'" (click)="switchBet(match?.matchbets[0])">
									{{ match.matchbets[0].currentodds }}
								</button>
							</div>
							<div class="col-md-2 text-center">
								<button class="btn btn-bet" [ngClass]="isSelectedBet(match.matchbets[1]) ? 'btn-active' : 'btn-bet'" (click)="switchBet(match?.matchbets[1])">
									{{ match.matchbets[1].currentodds }}
								</button>
							</div>
							<div class="col-md-2 text-center">
								<button class="btn btn-bet" [ngClass]="isSelectedBet(match.matchbets[2]) ? 'btn-active' : 'btn-bet'" (click)="switchBet(match?.matchbets[2])">
									{{ match.matchbets[2].currentodds }}
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #emptyBlock>
	<p class="text-center">Aucun match de programmé pour le moment.</p>
</ng-template>