<div class="container">
  <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/cagnotte" ngbButton> Ma cagnotte
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/history" ngbButton> Historique des paris
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/update-profile" ngbButton> Modification du profil
      </label>
      <label class="btn-primary" ngbButtonLabel *ngIf="userRole > 1">
          <input type="checkbox" routerLink="/profile/admin" ngbButton> Administration
      </label>
    </div>
  <div id="backContainer">
      <router-outlet></router-outlet>
  </div>
</div>