<div class="container">
  <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/cagnotte" ngbButton [(ngModel)]="model.wallet"> Ma cagnotte
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/history" ngbButton [(ngModel)]="model.history"> Historique des paris
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" routerLink="/profile/update-profile" ngbButton [(ngModel)]="model.profile"> Modification du profil
      </label>
    </div>
  <router-outlet></router-outlet>
</div>