.button-link {
    background: none;
    border: none; 
    cursor: pointer;
    outline: none;
}

.fixed-top {
    height:60px;
}

.navbar-brand{
    max-width:150px;
    width:100%;

    img {
        width:100%;
    }
}