.back {
    background-color: lightgray;
    padding-top:8px;
}

.bet-block {
    background-color: white;
    margin: 0px 8px 8px 8px;
    width: 100%;
    padding: 0 15px 0 15px;

    #amountInput{
        padding: 0 0 0 0;
    }
}

.btn-head:hover {
    background-color: lightgray;
}

.light{
    background-color: white;
}

.dark {
    background-color: lightgray;
}

.btn-block{
    margin-bottom: 10px;
}