<div class="container-fluid" *ngIf="selectedBets.length > 0">
    <div class="row">
        <div class="col-md-6"><button class="btn btn-block btn-head" [ngClass]="!combined ? 'dark' : 'light'" (click)="setSimple()">Simple</button></div>
        <div class="col-md-6"><button class="btn btn-block btn-head" [ngClass]="combined ? 'dark' : 'light'" (click)="setCombined()">Combiné</button></div>
    </div>
    <div class="back">

        <app-bet-selected *ngFor="let bettype of selectedBets" [betType]="bettype" [combined]="combined"></app-bet-selected>
        <div class="bet-block" *ngIf="combined">
            <div class="container">
                <div class="row">
                    <div class="col text-left">Cote totale</div>
                    <div class="col">
                        <div class="badge badge-warning">{{getTotalOdds()}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">Mise</div>
                    <div class="col"><input [(ngModel)]="amount" /></div>
                </div>
                <div class="row">
                    <div class="col text-left">Gains potentiels</div>
                    <div class="col">{{getPotentialGains()}}</div>
                </div>
            </div>
            
        </div>
        <div class="container">
            <div class="row">
                <div class="col"><button class="btn btn-block btn-secondary" (click)="onValidate()">Valider</button></div>
            </div>
        </div>
    </div>
</div>