<div class="container-fluid">
    <div class="row">
        <div class="col-md-6"><button class="btn btn-block btn-head" href="#">Simple</button></div>
        <div class="col-md-6"><button class="btn btn-block btn-head" href="#">Combiné</button></div>
    </div>
    <div class="row back" *ngIf="selectedBets.bets">
        <div class="bet-block" *ngFor="let bet of selectedBets.bets">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">{{bet.match.teams[0].label}} - {{bet.match.teams[1].label}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">Vainqueur</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">{{bet.label}}</div>
                    <div class="col-md-3">
                        <div class="badge badge-warning">{{bet.odds}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bet-block">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 text-left">Cote totale</div>
                    <div class="col-md-3">{{getTotalOdds()}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">Mise</div>
                    <div class="col-md-3"><input class="col-md-12" input [(ngModel)]="amount" /></div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">Gains potentiels</div>
                    <div class="col-md-3">{{getPotentialGains()}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><button class="btn btn-block btn-secondary" href="#">Valider</button></div>
                </div>
            </div>
        </div>
    </div>
</div>