<div class="container-fluid" *ngIf="selectedBets.length > 0">
    <div class="row">
        <div class="col-md-6"><button class="btn btn-block btn-head" href="#">Simple</button></div>
        <div class="col-md-6"><button class="btn btn-block btn-head" href="#">Combiné</button></div>
    </div>
    <div class="row back">
        <div class="bet-block" *ngFor="let bettype of selectedBets">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12" *ngIf="bettype.match.matchteams">{{bettype.match?.matchteams[0]?.team?.label}}
                        - {{bettype.match?.matchteams[1]?.team?.label}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">{{getType(bettype.type)}}</div>
                    <div class="col-md-3">{{bettype.team?.label}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">{{bettype.label}}</div>
                    <div class="col-md-3">
                        <div class="badge badge-warning">{{bettype.currentodds}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bet-block">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9 text-left">Cote totale</div>
                    <div class="col-md-3">{{getTotalOdds()}}</div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">Mise</div>
                    <div class="col-md-3"><input class="col-md-12" id="amountInput" input [(ngModel)]="amount" /></div>
                </div>
                <div class="row">
                    <div class="col-md-9 text-left">Gains potentiels</div>
                    <div class="col-md-3">{{getPotentialGains()}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><button class="btn btn-block btn-secondary" href="#">Valider</button></div>
                </div>
            </div>
        </div>
    </div>
</div>