.back {
    background-color: lightgray;
    padding-top:8px;
}
.bet-block {
    background-color: white;
    margin: 0px 8px 8px 8px;
    width: 100%;
    padding: 0 15px 0 15px;
}
.btn-head{
    background-color: white;
}
.btn-head:hover {
    background-color: lightgray;
}