<div class="" class="form-row" style="margin: auto; width : 50%">
    <p *ngIf="isValidFormSubmitted && ccForm.pristine" [ngClass] = "'success'">
        OK.
    </p>
  <form [formGroup]="ccForm" (ngSubmit)="onFormSubmit()">
    <div class="form-row">
      
    <label>
      <span>Card Number</span> &nbsp;
      <input igxInput [igxMask]="'# # # # - # # # # - # # # # - # # # #'" 
      class="form-control" type="text" 
      formControlName="creditCardNumber" 
      placeholder="Numéro Carte"
      required 
      autofocus
      id="creditCardNumber">
      </label>
    <div *ngIf="creditCardNumber.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
        <div *ngIf="creditCardNumber.errors.minlength">
        Doit comporter 16 chiffres.
        </div> 
        <!-- <div *ngIf="creditCardNumber.errors.maxlength"> 
        Doit comporter un maximum de 19 chiffres.
        </div>	 -->
    </div>
   
    </div>
    <label>
        <span>Expiration (MM/YYYY)</span> &nbsp;</label>
        <div class="form-row">
        <select class="form-control" id="drop" [(ngModel)]="monthSelected" (change)="onChangeMonth($event)" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let month of calendarMonth" [value]="month.id">{{month.label}}</option>    
        </select>
        <select placeholder="Année" id="drop" class="form-control" [(ngModel)]="yearSelected" (change)="onChangeYear($event)" [ngModelOptions]="{standalone: true}">
            <option placeholder="Année" *ngFor="let year of calendarYear" [value]="year.label">{{year.label}}</option>    
        </select>
        </div>
    <div class="form-row">
        <label>
          <span >Cryptogram</span>
          <input igxInput [igxMask]="'# # #'" 
          formControlName="cvcNumber"
          type="text"  
          class="form-control" 
          placeholder="cvc"
          required autofocus
          id="cvc">
        </label>
        <div *ngIf="cvcNumber.errors && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
            <div *ngIf="cvcNumber.errors.minlength">
            Doit comporter 3 chiffres.
            </div> 
            <!-- <div *ngIf="cvcNumber.errors.maxlength"> 
            Doit comporter un maximum de 19 chiffres.
            </div> -->
        </div>
    </div>
  
    <br>
    <div class="form-row">
    <h3><span class="badge badge-light">Cagnotte</span></h3>&nbsp;&nbsp;
    <div>
        <input
        class="form-control"
        id="wallet"
        #newWallet
        placeholder="wallet" 
        [value]="wallet" 
        [(ngModel)]="wallet" 
        [ngModelOptions]="{standalone: true}"
        type = "text"
        size="4" id="wallet" maxlength="5"/>
    </div>
  </div>
    <br>
    <div>
    <button class="btn btn-primary" type="submit">MAJ Cagnotte</button>
    &nbsp;
    &nbsp;
  </div></form>
</div>
<br><br><br>