<div class="" style="margin: auto; width : 50%">
<form stripe:form="saveCreditCard">
    <div class="form-row">
    <label>
      <span>Card Number</span>
      <input placeholder="Numéro Carte" [(ngModel)]="number" type="text" size="20" data-stripe="number" id="number"/>
      </label>
    </div>
    <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input placeholder="expMonth" [(ngModel)]="expMonth" type="text" size="2" data-stripe="exp-month" id="expMonth"/>
      <input placeholder="expYear" [(ngModel)]="expYear" type="text" size="4" data-stripe="exp-year" id="expYear"/>
    </label>
      <span> / </span>
      <input placeholder="expYear" [(ngModel)]="expYear" type="text" size="4" data-stripe="exp-year" id="expYear"/>
    </div>
    <div class="form-row">
      <input placeholder="cvc" [(ngModel)]="cvc" type="text" size="4" data-stripe="cvc" id="cvc"/>
    </div>

    <div>
    <button (click)="onSaveBdd()" type="submit">Sauvegarder</button>
  </div>
</form>
</div>