
<br>
<br>
<br>

<div class="divListCategory">
  <table id="tabListUser">
    <tr *ngFor="let cy of tabCategory">
      <td> {{cy.label }} </td>
      <td>
        <button class="btn btn-warning" (click)="onCategory(cy.id)">
          <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
        </button>
      </td>
      
      <!-- <td hidden="visibleCompet"> -->
      <!-- <td>
        <tr *ngFor="let cn of tabCategory[cy].tabCompetition">
          <td> {{cy.label }} </td>
          <td>
            <button class="btn btn-warning" (click)="onCompetition(cn.id)">
              <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
            </button>
          </td>
        </tr>
      </td> -->

    </tr>
  </table>
</div>


<router-outlet></router-outlet>
