<div *ngIf="onAfficher() == 'HistoryComponent' || onAfficher() == 'CcComponent'; else affichageBlock">
</div>

<ng-template #affichageBlock>
  <table>
    <tr *ngFor="let cy of tabCategories">
      <td class="nav-item">
        <h4 class="nav-link" id="id01" >{{ cy.label }}</h4>
  
        <div aria-labelledby="id01" >
  
          <button class="dropdown-item" *ngFor="let cn of cy.competitions" 
                  [routerLink]="['/football/competition', cn.id ]">
              {{ cn.label }}
          </button>

        </div>
  
      </td>
    </tr> 
  </table>
</ng-template>