    <!-- <table id="tabListUser">
      <tr *ngFor="let cy of tabCategory">
        <td> {{cy.label }} </td>
        <td>
          <button class="btn btn-warning" (click)="onCategory(cy.tabCompetition)">
            <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
          </button>
        </td>


        <td hidden="visibleCompet">
        <td>
          <tr *ngFor="let cn of tabCategory[cy.id].tabCompetition">
            <td> {{cn.label }} </td>
            <td>
              <button class="btn btn-warning" (click)="onCompetition(cn.id)">
                <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
              </button>
            </td>
          </tr>
        </td>

      </tr>
    </table> -->

<td>
  <button class="btn btn-warning" (click)="onCategoryBis()">
    <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
  </button>
</td>
<td>
  <tr *ngFor="let cn of tabCompet">
    <td> {{ cn.label }} </td>
    <td>
      <!-- <button class="btn btn-warning" (click)="onCompetition(cn.id)">
        <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
      </button> -->
    </td>
  </tr>
</td>