<div *ngIf="onAfficher() == 'HistoryComponent' || onAfficher() == 'CcComponent'; else affichageBlock">
</div>

<ng-template #affichageBlock>
  <table>
    <tr *ngFor="let cy of tabCategories">
      <td class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>{{ cy.label }}</a>
  
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
  
          <button class="dropdown-item" *ngFor="let cn of cy.competitions" 
                  [routerLink]="['/football/competition', cn.id ]">
              {{ cn.label }}
          </button>

        </div>
  
      </td>
    </tr> 
  </table>
</ng-template>