<app-navbar></app-navbar>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Pariez sur les derniers matchs de foot</h3>
      <p>Et gagnez des milliards d'euro sans bouger votre cul de votre chaise</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Bientôt multisports</h3>
      <p>Inscrivez-vous dès aujourd'hui et gagnez 100€ ...</p>
    </div>
  </ng-template>

</ngb-carousel>
    <div class="d-flex flex-row justify-content-around">

      <div class="p-2 col-3 text-center">MENU GAUCHE</div>
      <div class="p-2 col-3 text-center">






<br>
<h1>AngularFire Lite Realtime Database</h1>
<br>

<span style="color:crimson">realtime database </span><h4>{{databaseData}}</h4>
<span style="color:crimson">realtime database list of data</span>
<ul>
    <li *ngFor="let item of databaseList | async">{{item}}</li>
</ul>

<span style="color:crimson">realtime database query</span><h4>{{databaseQuery}}</h4>


<br>
<h1>AngularFire Lite Firestore</h1>
<br>

<span style="color:crimson">firestore database</span><h4>{{firestoreData?.hellofield }}</h4>
<span style="color:crimson">firebase database list of data</span>
<ul>
    <li *ngFor="let doc of firestoreList | async">{{doc | json}}</li>
</ul>
<span style="color:crimson">firestore query</span><h4 *ngFor="let query of firestoreQuery">{{query?.data1}}</h4>

<span style="color:crimson">Transactions and Batched Writes</span><br><h4>open the dev console to see them in action</h4>
<br>
<br>

<span>I am logged in?</span><h4>{{ authState }}</h4>

<button *ngIf="!this.authState" (click)="login()">login</button>
<button *ngIf="this.authState" (click)="logout()">logout</button>







</div>

      <div class="p-2 col-6"><router-outlet></router-outlet></div>
      <div class="p-2 col-3 text-center"><app-bet-selected></app-bet-selected></div>
    </div>

<app-footer></app-footer>