<app-navbar></app-navbar>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Slide 1</h3>
      <p>Blablabla nouveau pari dans nouvelle compétition lambda</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Encore une slide</h3>
      <p>Inscrivez-vous aujourd'hui et gagnez 100€...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="Random third slide">
    <div class="carousel-caption">
      <h3>Slide 3</h3>
      <p>Encore un truc commercial</p>
    </div>
  </ng-template>
</ngb-carousel>

    <div class="d-flex flex-row justify-content-around">
      <div class="p-2 col-3 text-center">MENU GAUCHE</div>
      <div class="p-2 col-6"><router-outlet></router-outlet></div>
      <div class="p-2 col-3 text-center"><app-bet-selected></app-bet-selected></div>
    </div>
<app-credit-card></app-credit-card>
<app-showbet></app-showbet>
<app-footer></app-footer>
