<app-navbar></app-navbar>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>Slide 1</h3>
      <p>Blablabla nouveau pari dans nouvelle compétition lambda</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Encore une slide</h3>
      <p>Inscrivez-vous aujourd'hui et gagnez 100€...</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]"  alt="Random third slide">
    <div class="carousel-caption">
      <h3>Slide 3</h3>
      <p>Encore un truc commercial</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">
  <h2>CONTAINER</h2>
  <div>le container</div>

  <br>

  <div class="divListCategory">
    <!-- <table id="tabListUser">
      <tr *ngFor="let cy of tabCategory">
        <td> {{cy.label }} </td>
        <td>
          <button class="btn btn-warning" (click)="onCategory(cy.tabCompetition)">
            <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
          </button>
        </td> -->
        <app-competition></app-competition>
        <!-- <app-competition [category]="cy" [indexOfCategory]="cy.id" ></app-competition> -->
        <!-- <td hidden="visibleCompet">
        <td>
          <tr *ngFor="let cn of tabCategory[cy.id].tabCompetition">
            <td> {{cn.label }} </td>
            <td>
              <button class="btn btn-warning" (click)="onCompetition(cn.id)">
                <i class="fa fa-plus" aria-hidden="true" style="color:white" ></i>
              </button>
            </td>
          </tr>
        </td>

      </tr>
    </table> -->
  </div>

  <br>

</div>

<app-footer></app-footer>