<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				{{match?.matchteams[0]?.team?.label}} - {{match?.matchteams[1]?.team?.label}}
			</h3>
			<h3 class="text-center">
				{{match?.place?.country}} - {{match?.matchday?.season?.competition?.label}} - {{match?.matchday?.label}}
			</h3>
		</div>
	</div>
	<div class="row" *ngIf="getWinnerBets()">
		<div class="col-md-12">
			<h3 class="subtitle">
				Resultats
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center" *ngFor="let matchbet of getWinnerBets()">
			<h4>
				{{matchbet.label}}
			</h4>
			<button class="btn" [ngClass]="isSelectedBet(matchbet.id)==true ? 'btn-active' : 'btn-bet'" (click)="switchBet(matchbet.id)">{{matchbet.currentodds}}</button>
		</div>
	</div>
	<div class="row bet-group" *ngIf="getScoreBets()">
		<div class="col-md-12">
			<h3 class="subtitle">
				Score exact
			</h3>
		</div>
	</div>
	<div class="row bet-group">
		<div class="col-md-4 text-center" *ngFor="let matchbet of getScoreBets()">
			<h4>
				{{matchbet.label}}
			</h4>
			<button class="btn" [ngClass]="isSelectedBet(matchbet.id)==true ? 'btn-active' : 'btn-bet'" (click)="switchBet(matchbet.id)">{{matchbet.currentodds}}</button>
		</div>
	</div>
	<div class="row bet-group" *ngIf="getGoalsBets()">
		<div class="col-md-12">
			<h3 class="subtitle">
				Nombre de buts
			</h3>
		</div>
	</div>
	<div class="row">
		<div ngClass="" class="col-md-6 text-center" *ngFor="let matchbet of getGoalsBets()">
			<h4>
				{{matchbet.label}}
			</h4>
			<button class="btn" [ngClass]="isSelectedBet(matchbet.id)==true ? 'btn-active' : 'btn-bet'" (click)="switchBet(matchbet.id)">{{matchbet.currentodds}}</button>
		</div>
	</div>

</div>