.historical-block {
    background-color: white;
    margin: 0px 1% 0px 1%;
    width: 50%;
    text-align:center;
}
.historical-block-head{
    background-color: lightgray;
}
tr{
    border: 1px solid black;
}
.form-control-format{
    margin-left: 15px ;
    width: 15%;
}