<!-- <br>

<div class="nav-item dropdown" ngbDropdown>
  <a class="nav-link dropdown-toggle button-link" id="id01" ngbDropdownToggle>Status</a>
  <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu >
    
      <option value="" *ngFor="let status of tabStatus" [value]="status.id">{{ status.status }}</option>

  </div>
</div> -->
<br>

<div class="form-control-format">
Status
<select class="form-control" value="Status" [(ngModel)]="statusSelected" (change)="onChange($event)">
    <option *ngFor="let status of tabStatus" [value]="status.id">{{ status.status }}</option>
</select>
</div>
<br>

<table class="historical-block" >

  <tr class="historical-block-head">
    <th> JEU </th>
    <th> DATE </th>
    <th> HEURE </th>
    <th> MISE </th>
    <th> GAIN TOTAL </th>
    <th> STATUS </th>
  </tr>
  <tr *ngFor = "let hb of tabBetUser" >
      <td> {{ hb.label }} </td>
      <td> {{ hb.betdate | date: 'dd/MM/yyyy' }} </td>
      <td>  </td>
      <!-- <td> {{ hb.betamount.toFixed(2) }}€ </td>
      <td> {{ gain.toFixed(2) }}€ </td> -->
      <td> {{ hb.betamount }}€ </td>
      <td> {{ getHistoGain(hb) }}€ </td>
      <td> {{ tabStatus[hb.status].status }} </td>
  </tr>
</table>